Offset - continue

{% for item in evens limit: 3 %}${{ item }} {% endfor %}
{% for item in evens offset: continue %}&{{ item }} {% endfor %}

{% assign new = (1..6) %}
{% for i in new limit: 2 %}{{ i }} {% endfor %}
{% assign new = 'a,b,c,d,e,f' | split: ',' %}
{% for i in new offset: continue %}{{ i }} {% endfor %}

{% for i in evens limit: 666 %}first{{ i }} {% endfor %}
{% for i in evens offset: continue %}second{{ item }} {% endfor %}

{% for item in (1..6) limit: 3 %}${{ item }} {% endfor %}
{% for item in (1..6) offset: continue %}&{{ item }} {% endfor %}
{% for item in (1..6) offset: continue %}&{{ item }} {% endfor %}

{% assign a_range = (1..6) %}
{% for item in a_range limit: 3 %} {% if item == 2 %} {% break %} {% endif %} {{ item }} {% endfor %}
{% for item in a_range offset: continue %} {{ item }} {% endfor %}

{% assign range2 = (1..6) %}
{% for item in range2 limit: 3 %} {{ item }} {% endfor %}
{% for item in range2 reversed offset: continue %} {{ item }} {% endfor %}

{% assign range3 = (1..6) %}
{% for item in range3 reversed offset: continue %} {{ item }} {% endfor %}

{% for x in array limit: 3 %}{{ x }} {% endfor %}
{% for y in array limit: 1 offset: continue %}{{ y }} {% endfor %}
{% for y in array offset: continue %}{{ y }} {% endfor %}


Example: {% for value in var %}{% if value > 2 %}Got: {{ value }}{% endif %}{% endfor %}

{% assign value = 12 %}
{% for value in var %}
    Got: {{ value }}
{% endfor %}
{{ value }}

{% for product in products %}
  {{ product.title }}
{% else %}
  The collection is empty.
{% endfor %}

{% assign kitchen_products = products | where: "type", "kitchen" %}

Kitchen products:
{% for product in kitchen_products %}
- {{ product.title }}
{% endfor %}

a
{% for i in values %}
  1  yo 3 --
{% if i == 4 %} {% break %} {% else %} {{ i }} {% endif %}
{% endfor %}
end for
range
{% for i in (3..5) %}
  {{ i }}
{% endfor %}

{% assign first = 3 %}
{% assign last = 3 %}
{% for i in (first..last) %}
  {{ i }}
{% endfor %}

{% assign first = 3 %}
{% for i in (first..3) %}
  {{ i }}
{% endfor %}

{% for item in array reversed offset:3 limit:1%}
  {{ item }}
{% endfor %}

{% for item in array limit:2 %}
  {{ item }}
{% endfor %}

{% for item in array offset:3 %}
  {{ item }}
{% else %}
  else!
{% endfor %}

{% for _ in (1..5) %}
    {% if forloop.first == true %}
        First time through!
    {% else %}
        Not the first time.
    {% endif %}
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.index }}
{% endfor %}

{% for _ in (1..5) %}
  {% if forloop.last == true %}
    This is the last iteration!
  {% else %}
    Keep going...
  {% endif %}
{% endfor %}

{% for i in (1..5) %}
  {% if forloop.first == true %}
  <p>This collection has {{ forloop.length }} items:</p>
  {% endif %}
  <p>{{ i }}</p>
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.rindex }}
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.rindex0 }}
{% endfor %}

nested forloop

{% for i in (1..2)%}{% for j in (1..3) %}i = {{ i }} j = {{ j }} {% endfor %}parentloop.index = {{ forloop.parentloop.index }}{% endfor %}

{% for _ in (1..2) %} {% for _ in (1..2) %} inner.index0 = {{ forloop.index0 }} {% endfor %} outer.index0 = {{ forloop.index0 }} {% endfor %}

{% for forloop in (1..5) %}
  {% for _ in (1..2) %}
    {{ forloop.index0 }}
  {% endfor %}
  {{ forloop.index0 }}
{% endfor %}

{% if enabled? %}
ON
{% else %}
OFF
{% endif %}

{% if enabled2? == false %}
ON
{% else %}
OFF
{% endif %}

forloop

{%- for inner in outer -%}
  {%- for i in inner -%}
    {{- forloop.parentloop.index }}-{{ forloop.index -}}
  {%- endfor -%}
{%- endfor -%}

{% for tag in item. labels limit:1 %}{{ forloop.name }}{% endfor %}
{% for tag in item[ 'labels'   ] limit:1 %}{{ forloop.name }}{% endfor %}
{% for tag in item[ "labels"   ] limit:1 %}{{ forloop.name }}{% endfor %}
{% for tag in item[ "labels"   ] limit:1 %}{{ forloop.name }}{% endfor %}
{% for tag in (0..5) limit:1 %}{{ forloop.name }}{% endfor %}
{{ forloop.name }}

Range

{% for i in string %}{{ i }} - {% endfor %}
{% for i in ('1'..'2') %} {{ i }} {% endfor %}
{% for i in (1..'foo') %} {{ i }} {% endfor %}
{% for i in (1..5) offset: '3' %} {{ i }} {% endfor %}
{% for i in (1..5) limit: '3' %} {{ i }} {% endfor %}
Offset error
{% for i in (1..4) offset: 'foo' %}{{ i }} {% endfor %}
{% for i in evens offset: 3 %} {{ i }} {% endfor %}

Hash

{% for item in collection %}{{ item[0] }} {{ item[1] }} {% endfor %}
