Example: {% for value in var %}{% if value > 2 %}Got: {{ value }}{% endif %}{% endfor %}

{% assign value = 12 %}
{% for value in var %}
    Got: {{ value }}
{% endfor %}
{{ value }}

{% for product in collection.products %}
  {{ product.title }}
{% else %}
  The collection is empty.
{% endfor %}

{% assign kitchen_products = products | where: "type", "kitchen" %}

Kitchen products:
{% for product in kitchen_products %}
- {{ product.title }}
{% endfor %}

a
{% for i in values %}
  1  yo 3 --
{% if i == 4 %} {% break %} {% else %} {{ i }} {% endif %}
{% endfor %}
end for

{% for i in (3..5) %}
  {{ i }}
{% endfor %}

{% assign first = 3 %}
{% assign last = 3 %}
{% for i in (first..last) %}
  {{ i }}
{% endfor %}

{% assign first = 3 %}
{% for i in (first..3) %}
  {{ i }}
{% endfor %}

{% for item in array reversed offset:3 limit:1%}
  {{ item }}
{% endfor %}

{% for item in array limit:2 %}
  {{ item }}
{% endfor %}

{% for item in array offset:3 %}
  {{ item }}
{% else %}
  else!
{% endfor %}

{% for _ in (1..5) %}
    {% if forloop.first == true %}
        First time through!
    {% else %}
        Not the first time.
    {% endif %}
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.index }}
{% endfor %}

{% for _ in (1..5) %}
  {% if forloop.last == true %}
    This is the last iteration!
  {% else %}
    Keep going...
  {% endif %}
{% endfor %}

{% for i in (1..5) %}
  {% if forloop.first == true %}
  <p>This collection has {{ forloop.length }} items:</p>
  {% endif %}
  <p>{{ i }}</p>
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.rindex }}
{% endfor %}

{% for _ in (1..5) %}
  {{ forloop.rindex0 }}
{% endfor %}

{% for _ in (1..2) %}
  {% for _ in (1..2) %}
    {{ forloop.index0 }}
  {% endfor %}
  {{ forloop.index0 }}
{% endfor %}

{% for forloop in (1..5) %}
  {% for _ in (1..2) %}
    {{ forloop.index0 }}
  {% endfor %}
  {{ forloop.index0 }}
{% endfor %}

{% for item in hash %}
  {{ item[0] }} :: {{ item[1] }}
{% endfor %}

{% if enabled? %}
ON
{% else %}
OFF
{% endif %}

{% if enabled2? == false %}
ON
{% else %}
OFF
{% endif %}
