<ul>
<li class="item-{% increment counter %}">apples</li>
<li class="item-{% increment counter %}">oranges</li>
<li class="item-{% increment counter %}">peaches</li>
<li class="item-{% increment counter %}">plums</li>
</ul>

{% increment my_number %}
{% increment my_number %}
{% increment my_number %}

{{ my_number }}

{% increment my_number %}
{{ my_number }}
{% assign my_number = 33 %}
{{ my_number }}
{% increment my_number %}

{% assign my_number = 33 %}
{% increment my_number %}
{{ my_number }}
{% assign my_number = 42 %}
{{ my_number }}
{% increment my_number %}

increment with initial value

{% increment my_existing_number %}
{% increment my_existing_number %}
{% increment my_existing_number %}

{{ my_existing_number }}
